<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ns.greg.fasthook"
    >

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/fast_hook"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity android:name="com.ns.greg.fasthook.DemoActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"></action>

        <category android:name="android.intent.category.LAUNCHER"></category>
        <category android:name="android.intent.category.DEFAULT"></category>
      </intent-filter>

    </activity>

  </application>

</manifest>
